*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.container{
  height: 50px;
  border: 1px solid black;
  max-width: 1000px;
  margin: auto;
}

.top-header img{
  width: 80px;
  vertical-align: middle;
}

[class*="nav-"] li{
  display: inline-block;
}

[class*="nav-"] li a{
  text-decoration: none;
  color: black;
  margin: 10px;
}

.ghost-align{
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-left{
  padding-top: 10px;
  padding-bottom: 10px;
}

.background-header{
  background-image: url('file:///Users/mac/Downloads/img/hero-bg.jpg');
  height: 400px;
  color: white;
  position: relative;
}

#border-nav-left{
  border-right: 1px solid black;
}

.text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#text-image{
  height: 40px;
}
